<section>
  <h1 class="text-center text-main my-2">Foreget password</h1>
  @if ( step ==1) {
  <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-5 "(ngSubmit)="verifyEmailSubmit()">
    <div class="my-2">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control"
      />
    </div>
    <button (ngSubmit)="verifyEmailSubmit()" [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
  </form>
  } @if (step ==2) {
  <form [formGroup]="verfyCode" class="bg-main-light rounded-4 shadow p-5" (ngSubmit)="verifyCode()">
    <div class="my-2">
      <label for="resetCode">Code</label>
      <input
        formControlName="resetCode"
        id="resetCode"
        type="resetCode"
        class="form-control"
      />
    </div>
    <button (ngSubmit)="verifyCode()" [disabled]="!verifyEmail.valid"  class="btn-main">Verify Code</button>
  </form>
  } @if (step==3) {
  <form [formGroup]="resetPassord" class="bg-main-light rounded-4 shadow p-5" (ngSubmit)="resetPassword()">
    <div class="my-2">
      <label for="email">Email</label>
      <input
         readonly
        formControlName="email"
        id="email"
        type="email"
        class="form-control"
      />
      <label for="newPassword">New Password</label>
      <input
        formControlName="newPassword"
        id="newPassword"
        type="password"
        class="form-control"
      />
    </div>
    <button (ngSubmit)="resetPassword()" [disabled]="!verifyEmail.valid"  class="btn-main">Verify Email</button>
  </form>
  }
</section>
